<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/w3.2022-03-18.css">
  </head>
<body>
<div class="w3-container">
<p>
 {{#isLoggedIn}}{{principalName}}
 (<a href="/members/logout">log out</a>){{/isLoggedIn}}{{^isLoggedIn}}
 <a href="/members/login">log in</a>{{/isLoggedIn}}

 {{#menuItems}}
 <br /><a href="{{href}}">{{label}}</a>
 {{/menuItems}}
</p>

<h1>{{pageTitle}}</h1>
