<!DOCTYPE html>

<html>
  <head>
    <title>Member Dashboard</title>
  </head>
  <body>
    <p><a href="/">home</a></p>
    <h1>Member Dashboard</h1>
    <p>{{firstName}} {{lastName}} has been a member since {{memberSince}}.</p>

    {{#isWaitingOnEmailVerification}}
    <p>
      Welcome! Once you verify your email address, you will have full use of the site. To
      verify your email address, look in your inbox for the welcome email we just sent you
      and click the verify link.
    </p>
    {{/isWaitingOnEmailVerification}} {{#isInAlphaTesting}}
    <p>
      We are currently alpha testing this site, which means we have spent been focussed on
      getting things to work correctly and not so much on the appearance. Since you
      volunteered to use this unfinished software (thank you!), you will always have
      access to the site for free.
    </p>

    <p>
      In return, we ask that you share any ideas you have for what would make this site
      more useful to you! To enter a suggestion, click
      <a href="https://garden-journal.kampsite.co">here.</a>.
    </p>
    {{/isInAlphaTesting}}
  </body>
</html>
