{{> ../head}}

{{#error}}
<p style="color: red">{{{error}}}</p>
{{/error}}

<form action="/photo-diary/{{contentID}}/add-note" enctype="multipart/form-data" method="post">

<p>
<label for="month" id="monthLabel">Month</label>
<select name="month" id="month">
  <option value="jan">Jan</option>
  <option value="feb">Feb</option>
  <option value="mar">Mar</option>
  <option value="apr">Apr</option>
  <option value="may">May</option>
  <option value="jun">Jun</option>
  <option value="jul">Jul</option>
  <option value="aug">Aug</option>
  <option value="sep">Sep</option>
  <option value="oct">Oct</option>
  <option value="nov">Nov</option>
  <option value="dec">Dec</option>
  <option value="year">The Entire Year</option>
</select>
<input type="hidden" name="contentID" value="{{contentID}}">
<p>
<textarea id="note" name="note" rows="20" cols="65">
</textarea>

<p><input type="submit" name="submit" value="Add note to your {{diaryName}} diary" />
</form>

{{> ../tail}}
