{{> ../head}}

{{#error}}
<p style="color: red">{{{error}}}</p>
{{/error}}

<form action="/photo-diary/{{contentID}}/{{sectionIndex}}/add-image" enctype="multipart/form-data" method="post">

<p>
<label for="picker">Preview image:</label>
<input id="picker" type="file" name="picker" accept="image/*" required autofocus/>
<input type="hidden" name="contentID" value="{{contentID}}">
<input type="hidden" name="sectionIndex" value="{{sectionIndex}}">

<p><input type="submit" name="submit" value="Upload image to your {{diaryName}} diary" />

<p><img id="preview" src="#" width="350px" alt="Image Preview" />

</form>

<script>
picker.onchange = evt => {
  const [file] = picker.files
  if (file) {
    preview.src = URL.createObjectURL(file)
  }
}
</script>


{{> ../tail}}
