{{> ../head}}

{{#error}}
<p style="color: red">{{{error}}}</p>
{{/error}}

<form action="/photo-diary/{{diaryID}}/add-image" enctype="multipart/form-data" method="post">

<p>
<label for="picker">Preview image:</label>
<input type="file" name="picker" id="picker" accept="image/*" required autofocus/>
<label for="imageDatePicker" style="display:none;" id="imageDatePickerLabel">Date photo taken:</label>
<input type="date" name="imageDatePicker" id="imageDatePicker" style="display:none;" /><br>
<input type="hidden" name="diaryID" value="{{diaryID}}">
<input type="hidden" id="imageOrientation" name="imageOrientation" value=""><br>
<input type="hidden" id="entryDate" name="entryDate" value=""><br>

<p><input type="submit" name="submit" value="Upload image to your {{diaryName}} diary" />

<p><img id="preview" src="#" width="350px" alt="Image Preview"  style="display:none;" />

</form>

<script src="/static/js/exif-reader.2022-03-19.js"></script>
<script src="/static/js/upload.js"></script>


{{> ../tail}}
